.main {
    height: 100vh;
    background: url('https://images.ctfassets.net/hrltx12pl8hq/6TIZLa1AKeBel0yVO7ReIn/1fc0e2fd9fcc6d66b3cc733aa2547e11/weather-images.jpg?fit=fill&w=1200&h=630');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.weather-info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid gray;
    border-radius: 40px;

    width: 400px;
    height: 200px;

    background-color: rgba(255, 255, 255, 50%);

}

.select-button-wrap {
    display: flex;
    gap: 10px;
}

.loading-sun {
    width: 100px;
    height: 100px;

    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(60deg);
    }

    75% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-60deg);
    }
}